{% extends 'products/base.html.twig' %}

{% block body %}


	<div class="container">
	<a href="{{ path('productList') }}" class="btn btn-info my-5">Atras</a>
		<div class="row">
			<div class="col text-center">
				<h2 class="my-5">{{product.title}}</h2>	
			</div>
		</div>

		<div class="row">
			<div>
      <img class="mx-5 my=5" src="{{ product.image }}" style="max-width: 500px; height: 500px;"/>
      </div>

			<div class="col d-flex justify-content-center">
				<div class="row my-5 d-flex justify-content-center">
					<div class="my=5">{{ product.description }}</div>
          <p class="d-flex justify-content-center" style="font-size: 60px">{{ product.price }} €</p>
        
				</div>
			</div>
		</div>
	</div>
{% endblock %}
