{% extends 'products/base.html.twig' %}{% block body %}

{% for mensaje in app.flashes('success') %}

<h3 class="d-flex justify-content-center mb-5 my-5">{{ mensaje }}</h3>

{% endfor %}


<div class="row row-cols-2 row-cols-md-3 my-5" >
  {% for product in products %}
  <div class="col mb-5" >
    <div class="card border-0">
      <img src="{{ product.image }}" class="card-img-top" style="max-width: 200px; height: 200px;"/>
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price }} €</p>
        <a href="{{ path('productDetail',{id:product.id}) }}" class="btn btn-info mb=3">Detalles</a>
        <a href="{{ path('editProduct',{id:product.id}) }}" class="btn btn-info mb=3">Editar</a>
        <a href="{{ path('deleteProduct',{id:product.id}) }}" class="btn btn-danger mb=3">borrar</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}
